
@{
    ViewData["Title"] = "Index";
}

<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <h4 class="title" data-aos="fade-down" data-aos-duration="1200">About</h4>
                        <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1000">
                            <ul class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="breadcrumb-sep">-</li>
                                <li>About</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->
    <!--== Start About Area Wrapper ==-->
    <section class="about-area about-inner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-inner-wrap">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-content">
                                    <div class="section-title mb--0">
                                        <h2 class="sub-title">Provide the best</h2>
                                        <h2 class="title">Furniture For You</h2>
                                        <div class="desc">
                                            <p>Modern furniture refers to furniture produced from the late 19th century through the present that is influenced by modernism. Post-World War II ideals of cutting excess, commodification, and practicality of materials in design heavily influenced the aesthetic of the furniture.</p>
                                            <p>It was a tremendous departure from all furniture design that had gone before it. There was an opposition to the decorative arts, which included Art Nouveau, Neoclassical, and Victorian styles.</p>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-theme">LEARN MORE</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-5 offset-xl-1">
                                <div class="about-thumb">
                                    <img class="w-100" src="~/assets/img/about/3.jpg" alt="Image-HasTech">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End About Area Wrapper ==-->
    <!--== Start Single Banner Wrapper ==-->
    <section>
        <div class="container pt--0">
            <div class="row">
                <div class="col-12">
                    <!--== Start Single Banner Item ==-->
                    <div class="single-banner-image">
                        <a href="shop.html">
                            <img class="w-100" src="~/assets/img/shop/banner/1.jpg" alt="Image-HasTech">
                        </a>
                    </div>
                    <!--== End Single Banner Item ==-->
                </div>
            </div>
        </div>
    </section>
    <!--== End Single Banner Wrapper ==-->
    <!--== Start Divider Area Wrapper ==-->
    <section class="divider-area divider-offer-area bg-color-222">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divider-style-wrap text-center">
                        <div class="divider-content">
                            <h4 class="sub-title">Special <span>Offers</span> for Subscription</h4>
                            <h4 class="title">GET INSTANT DISCOUNT FOR MEMBERSHIP</h4>
                            <p>Subscribe our newsletter and get all latest news abot our latest <br>products, promotions, offers and discount</p>
                            <div class="newsletter-content-wrap">
                                <div class="newsletter-form">
                                    <form action="#">
                                        <input type="email" class="form-control" placeholder="Enter your email here">
                                        <button class="btn-submit" type="button">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Divider Area Wrapper ==-->
    <!--== Start Testimonial Area Wrapper ==-->
    <section class="testimonial-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2 class="title">Testimonial</h2>
                        <div class="desc">
                            <p>Some of our customers say that they trust us and buy our product without any hesitation because they believe us and always happy to buy our product.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="swiper-container testimonial-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!--== Start Testimonial Item ==-->
                                <div class="testimonial-item">
                                    <div class="testi-inner-content">
                                        <div class="testi-author content">
                                            <div class="testi-content">
                                                <p>We provide the best Beard oil all over the world. We are the world best store for Beard Oil. You can buy our product without any hesitation because we always conscious about our product quality and always maintain it properly, so you can trust and this is our main goal we believe that...</p>
                                            </div>
                                            <div class="testi-info">
                                                <span class="name">James William</span>
                                                <span class="designation">Designation</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--== End Testimonial Item ==-->
                            </div>
                            <div class="swiper-slide">
                                <!--== Start Testimonial Item ==-->
                                <div class="testimonial-item">
                                    <div class="testi-inner-content">
                                        <div class="testi-author content">
                                            <div class="testi-content">
                                                <p>We provide the best Beard oil all over the world. We are the world best store for Beard Oil. You can buy our product without any hesitation because we always conscious about our product quality and always maintain it properly, so you can trust and this is our main goal we believe that...</p>
                                            </div>
                                            <div class="testi-info">
                                                <span class="name">Emma Olivia</span>
                                                <span class="designation">Designation</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--== End Testimonial Item ==-->
                            </div>
                            <div class="swiper-slide">
                                <!--== Start Testimonial Item ==-->
                                <div class="testimonial-item">
                                    <div class="testi-inner-content">
                                        <div class="testi-author content">
                                            <div class="testi-content">
                                                <p>We provide the best Beard oil all over the world. We are the world best store for Beard Oil. You can buy our product without any hesitation because we always conscious about our product quality and always maintain it properly, so you can trust and this is our main goal we believe that...</p>
                                            </div>
                                            <div class="testi-info">
                                                <span class="name">Jacob Liam</span>
                                                <span class="designation">Designation</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--== End Testimonial Item ==-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="swiper-container testimonial-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!--== Start Testimonial Item ==-->
                                <div class="testimonial-item">
                                    <div class="testi-inner-content">
                                        <div class="testi-author">
                                            <div class="testi-thumb">
                                                <img src="~/assets/img/testimonial/1.jpg" alt="Image-HasTech">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--== End Testimonial Item ==-->
                            </div>
                            <div class="swiper-slide">
                                <!--== Start Testimonial Item ==-->
                                <div class="testimonial-item">
                                    <div class="testi-inner-content">
                                        <div class="testi-author">
                                            <div class="testi-thumb">
                                                <img src="~/assets/img/testimonial/2.jpg" alt="Image-HasTech">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--== End Testimonial Item ==-->
                            </div>
                            <div class="swiper-slide">
                                <!--== Start Testimonial Item ==-->
                                <div class="testimonial-item">
                                    <div class="testi-inner-content">
                                        <div class="testi-author">
                                            <div class="testi-thumb">
                                                <img src="~/assets/img/testimonial/3.jpg" alt="Image-HasTech">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--== End Testimonial Item ==-->
                            </div>
                        </div>

                        <!--== Add Swiper Arrows ==-->
                        <div class="swiper-button-next"><span>/next</span></div>
                        <div class="swiper-button-prev"><span>prev</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Testimonial Area Wrapper ==-->
    <!--== Start Brand Logo Area Wrapper ==-->
    <section class="brand-logo-area">
        <div class="container">
            <div class="brand-logo-content">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper-container brand-logo-slider-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/1.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/2.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/3.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/4.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/5.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Brand Logo Area Wrapper ==-->
    <!--== Start Feature Area Wrapper ==-->
    <section class="feature-area">
        <div class="feature-container">
            <div class="row no-gutter">
                <div class="feature-col col-xl-3 col-md-6 col-12">
                    <div class="feature-icon-box">
                        <div class="inner-content">
                            <div class="icon-box" data-bg-img="~/assets/img/icons/1.jpg"></div>
                            <div class="content">
                                <h3 class="title">Free home delivery</h3>
                                <p>Provide free home delivery for all product over $100</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-col col-xl-3 col-md-6 col-12">
                    <div class="feature-icon-box">
                        <div class="inner-content">
                            <div class="icon-box" data-bg-img="~/assets/img/icons/1.jpg"></div>
                            <div class="content">
                                <h3 class="title">Quality Products</h3>
                                <p>We ensure the product quality that is our main goal</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-col col-xl-3 col-md-6 col-12">
                    <div class="feature-icon-box">
                        <div class="inner-content">
                            <div class="icon-box" data-bg-img="~/assets/img/icons/1.jpg"></div>
                            <div class="content">
                                <h3 class="title">3 Days Return</h3>
                                <p>Return product within 3 days for any product you buy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-col col-xl-3 col-md-6 col-12">
                    <div class="feature-icon-box">
                        <div class="inner-content">
                            <div class="icon-box" data-bg-img="~/assets/img/icons/1.jpg"></div>
                            <div class="content">
                                <h3 class="title">Online Support</h3>
                                <p>We ensure the product quality that you can trust easily</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Feature Area Wrapper ==-->
</main>

