
@{
    ViewData["Title"] = "Index";
}

<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <h4 class="title" data-aos="fade-down" data-aos-duration="1200">Contact</h4>
                        <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1000">
                            <ul class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="breadcrumb-sep">-</li>
                                <li>Contact</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->
    <!--== Start Contact Area Wrapper ==-->
    <section class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-info">
                        <div class="info-item">
                            <div class="info">
                                <h4 class="title">Address</h4>
                                <p>Your current address goes to here,120 example, country.</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="info">
                                <h4 class="title">Phone</h4>
                                <a href="tel:+8801234 567 890">+8801234 567 890</a>
                                <a href="tel:+8801234 567 890">+8801234 567 890</a>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="info">
                                <h4 class="title">Web</h4>
                                <a href="mailto:info@example.com">info@example.com</a>
                                <a href="mailto:www.example.com">www.example.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <!--== Start Contact Form ==-->
                    <div class="contact-form">
                        <h4 class="contact-form-title">Contact Form Title</h4>
                        <p class="desc">Contact Form Brief</p>
                        <form id="contact-form" action="http://whizthemes.com/mail-php/raju/arden/mail.php" method="post">
                            <div class="row row-gutter-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="con_name" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="con_email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="con_phone" placeholder="Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="con_name" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="con_message" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-theme" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--== End Contact Form ==-->
                    <!--== Message Notification ==-->
                    <div class="form-message"></div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Contact Area Wrapper ==-->
    <!--== Start Brand Logo Area Wrapper ==-->
    <section class="brand-logo-area">
        <div class="container pt--0">
            <div class="brand-logo-content">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper-container brand-logo-slider-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/1.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/2.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/3.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/4.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                                <div class="swiper-slide">
                                    <!--== Start Brand Logo Item ==-->
                                    <div class="brand-logo-item">
                                        <a href="#/"><img src="~/assets/img/brand-logo/5.jpg" alt="Image-HasTech"></a>
                                    </div>
                                    <!--== End Brand Logo Item ==-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Brand Logo Area Wrapper ==-->
    <!--== Start Feature Area Wrapper ==-->
    <section class="feature-area">
        <div class="feature-container">
            <div class="row no-gutter">
                <div class="feature-col col-xl-3 col-md-6 col-12">
                    <div class="feature-icon-box">
                        <div class="inner-content">
                            <div class="icon-box" data-bg-img="~/assets/img/icons/1.jpg"></div>
                            <div class="content">
                                <h3 class="title">Free home delivery</h3>
                                <p>Provide free home delivery for all product over $100</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-col col-xl-3 col-md-6 col-12">
                    <div class="feature-icon-box">
                        <div class="inner-content">
                            <div class="icon-box" data-bg-img="~/assets/img/icons/1.jpg"></div>
                            <div class="content">
                                <h3 class="title">Quality Products</h3>
                                <p>We ensure the product quality that is our main goal</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-col col-xl-3 col-md-6 col-12">
                    <div class="feature-icon-box">
                        <div class="inner-content">
                            <div class="icon-box" data-bg-img="~/assets/img/icons/1.jpg"></div>
                            <div class="content">
                                <h3 class="title">3 Days Return</h3>
                                <p>Return product within 3 days for any product you buy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-col col-xl-3 col-md-6 col-12">
                    <div class="feature-icon-box">
                        <div class="inner-content">
                            <div class="icon-box" data-bg-img="~/assets/img/icons/1.jpg"></div>
                            <div class="content">
                                <h3 class="title">Online Support</h3>
                                <p>We ensure the product quality that you can trust easily</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Feature Area Wrapper ==-->
</main>

